<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".global.Application"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MvpArms"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- WebSocket服务 -->
        <service
            android:name="com.rouxinpai.arms.ws.WebSocketService"
            android:directBootAware="true"
            android:exported="false" />

        <activity
            android:name=".feature.splash.SplashActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="true"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".feature.domain.DomainConfigActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/FullScreenTheme.White" />

        <activity
            android:name=".feature.login.AccountLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />

        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.rouxinpai.demo"
                    android:path="/notification"
                    android:scheme="wsscheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.demo.switchdomain.SwitchDomainActivity"
            android:label="@string/switch_domain"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.demo.dialog.DialogActivity"
            android:label="@string/dialog" />

        <activity
            android:name=".feature.demo.balloon.BalloonActivity"
            android:label="@string/balloon"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.demo.dropdown.DropdownActivity"
            android:label="@string/dropdown"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.demo.upgrade.UpgradeActivity"
            android:label="@string/upgrade"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.demo.fragment.FragmentDemoActivity"
            android:label="@string/fragment_demo"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.demo.repeatclick.DebounceClickDemoActivity"
            android:label="@string/debounce_click_demo"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.demo.print.PrintDemoActivity"
            android:label="@string/print_demo"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.demo.search.SearchEdittextDemoActivity"
            android:label="@string/search_edittext_demo"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.demo.message.MessageDemoActivity"
            android:label="@string/message_demo"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.demo.barcode.BarcodeActivity"
            android:label="@string/barcode"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.demo.rv.RvLoadMoreActivity"
            android:label="@string/rv_load_more"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.demo.dict.DictActivity"
            android:label="@string/dict"
            android:screenOrientation="portrait" />
    </application>
</manifest>